@mixin font($family, $size, $weight, $line, $align, $color,$hajim) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  text-align: $align;
  color: $color;
  width: $hajim;
}