$Midnight-Green:rgb(1, 78, 86);
$Light-Coral: rgb(246, 126, 126);
$White:rgb(255, 255, 255);
$Rapture-Blue:rgb(121, 200, 199);
$Police-Blue:rgb(44, 98, 105);
$Deep-Jungle-Green:rgb(0, 64, 71);
$Sacramento-State-Green:rgb(1, 47, 52);
$Dark-Green:rgb(0, 37, 41);